.Button {
  appearance: none;

  border : none;
  padding: 0px;
  margin : 0px;

  background-color: #323451;
  color           : #FFFFFF;

  display        : flex;
  justify-content: center;
  align-items    : center;
}


.Button__type--icon.Button__size--medium {
  width  : 32px;
  height : 32px;
  padding: 4px;

  border-radius: 8px;
}

.Button__type--default.Button__size--medium {
  width  : 100%;
  height : 48px;
  padding: 4px;

  border-radius: 13px;
}