.Avatar {
  position: relative;

  width : 100%;
  height: 100%;
}

.Avatar--hidden {
  visibility: hidden;
}

.Avatar__placeholder {
  position        : absolute;
  left            : 0;
  right           : 0;
  top             : 0;
  bottom          : 0;
  background-color: rgb(232, 232, 232);
  visibility      : hidden;
  border-radius   : 24px;
}

.Avatar--hidden .Avatar__placeholder {
  visibility: visible;
}