#root {
  position: relative;
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

@media (width >=900px) {

  #root {
    max-width    : 620px;
    max-height   : 900px;
    border       : solid 1px #ececec;
    border-radius: 13px;
  }

}