.Basket {
  position        : sticky;
  bottom          : 0;
  width           : 100%;
  padding         : 20px;
  background-color: #FFFFFF;
  box-shadow      : 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-sizing      : border-box;

  z-index: 3;

  flex-direction: column;
  gap           : 10px;

  transform: translateY(100%);


  transition: 0.3s;
}

.Basket__price {
  padding-top    : 10px;
  display        : flex;
  justify-content: space-between;
}

.Basket__item {
  display        : flex;
  justify-content: space-between;
}


.Basket__items {
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;

  display       : flex;
  flex-direction: column;
  gap           : 4px;
}

.Basket--visible {
  display  : flex;
  transform: translateY(0%);
}

.Basket--fixed {
  position: fixed;
}